@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0 auto;
}

  .mat-toolbar{
   font-size: 2rem;
   height: 80px;
   font-family: 'Fredoka', sans-serif;
   font-weight: bold;
  
  }

  .span{
      text-align: center;
  }




